.gradle
/gradle-app.setting
.*.sw?
*~
*.bak
~*
.~*
local/
/build
/node_modules
/claudeThreadNames.txt
.claude/
.claudeignore
CLAUDE.md
doc/
test/
testdata/
denotest/
.eslintrc.json
.gitignore
.gitattributes
